@tailwind base;
@tailwind components;
@tailwind utilities;

/* npx tailwindcss -i ./client/style.css -o ./client/stylePlusTailwind.css --watch */

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

nav {
    background-color: #b9504e;
    border-bottom: 5px solid #00001D;
    color: #00001D;
    padding: 15px;
    text-align: center;
}

/* .button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust columns as needed 
    gap: 20px;
    padding: 20px;
} */

/* **********************************************************
PLAYER TYPE BUTTONS
********************************************************** */
.button-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr)); /* Key changes */
    gap: 20px;
    padding: 20px;
}

@media (min-width: 1200px) { /* Adjust breakpoint as needed */
    .button-container {
        grid-template-columns: repeat(9, minmax(100px, 1fr)); 
    }
}

@media (min-width: 740px) and (max-width: 1200px) { /* Adjust breakpoint as needed */
    .button-container {
        grid-template-columns: repeat(6, minmax(100px, 1fr)); 
    }
}

@media (max-width: 450px) { /* Adjust breakpoint as needed */
    .button-container {
        grid-template-columns: repeat(2, minmax(100px, 1fr)); 
    }
}

.type-button {
    background-color: #ddd; 
    color: black;
    border: none;
    padding: 15px 30px;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%; /* Make button take up full cell width */
}

.type-button:hover { 
    background-color: #ddd;  /* Adjust as desired */
    filter: brightness(80%); /* Slightly darken on hover */
}

.type-button.selected {
    box-shadow: 0px 0px 0px 4px black, 0px 0px 10px 6px rgba(0, 0, 0, 0.3); /* Border and example highlight */

}

/* **********************************************************
SUBMIT BUTTON
********************************************************** */

.submit-container {
    display: grid;
}

.submit-container button {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    width: 100%; /* Make button take up full cell width */
}
