<div id="login-modal" class="fixed hidden top-0 left-0 w-full h-full z-50 overflow-y-auto bg-black/50">
    <div class="container mx-auto mt-32 flex justify-center items-center">
      <div class="bg-white p-8 rounded-md shadow-lg relative">
        <h2 class="text-2xl font-bold mb-4">Login</h2>
        <button onclick="openSignup()" class="text-blue-500 hover:underline">Don't have an account? Sign up</button>
        <button type="button" onclick="closeLogin()" class="absolute top-0 right-0 p-2 rounded-full hover:bg-gray-200 focus:outline-none">
            <svg class="w-6 h-6 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
          </button>
        <form id="login-form">
          <div class="mb-4">
            <label for="username" class="block text-gray-700 mb-2">Username:</label>
            <input type="text" id="username" class="w-full border border-gray-300 p-2 rounded">
          </div>
          <div class="mb-4">
            <label for="password" class="block text-gray-700 mb-2">Password:</label>
            <input type="password" id="password" class="w-full border border-gray-300 p-2 rounded">
          </div>
          <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-medium px-4 py-2 rounded">Login</button>
          <button type="button" onclick="closeLogin()" class="bg-gray-400 hover:bg-gray-600 text-white font-medium px-4 py-2 rounded ml-2">Cancel</button>
        </form>
      </div>
    </div>
</div>

<div id="signup-modal" class="fixed hidden top-0 left-0 w-full h-full z-50 overflow-y-auto bg-black/50">
    <div class="container mx-auto mt-32 flex justify-center items-center">
      <div class="bg-white p-8 rounded-md shadow-lg">
          <h2 class="text-2xl font-bold mb-4">Sign Up</h2>
          <form id="signup-form">
            </form>
          <button type="button" onclick="closeSignup()" class="bg-gray-400 hover:bg-gray-600 text-white font-medium px-4 py-2 rounded">Cancel</button>
      </div>
    </div>
</div>