<h1>Sign in</h1>
<form action="/auth/login" method="post" id="loginForm">
    <section>
        <p id="errorMessage"></p>
        <% if (typeof errorMessage !== 'undefined') { %>
            <p style="color: red;"><%= errorMessage %></p>
        <% } %>
    </section>
    <section>
        <label for="username">Username</label>
        <input id="username" name="username" type="text" autocomplete="username" required autofocus>
    </section>
    <section>
        <label for="password">Password</label>
        <input id="password" name="password" type="password" autocomplete="current-password" required>
    </section>
    <button type="submit">Sign in</button>
</form>