<nav>
    <h1 class="text-3xl font-bold">Pokemon Types</h1>
    <% if (typeof username !== 'undefined') { %>

     <p><%- username %> </p>
     <button onclick="logout()" class="btn btn-primary">Log out</button>
    <% } else {%>
        <button onclick="login()" class="btn btn-primary">Log in</button>
    <% } %>
     
</nav>