<nav>
    <h1 class="text-3xl font-bold relative top-4">Pokemon Types</h1>
    <% if (typeof username !== 'undefined') { %>
    <div id="userProfileSection" class="flex flex-row-reverse relative bottom-5">
        <div class="flex flex-col">
            <p><%- username %> </p>
            <button onclick="logout()" class="btn btn-primary">Log out</button>
        </div>
    </div>
    <% } else {%>
        <button onclick="openLogin()" class="btn btn-primary">Log in</button>
    <% } %>
     
</nav>