<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-1754159260662175">
    <title>Pokemon Type Buttons</title>
    <!-- <link rel="stylesheet" href="style.css">  -->
    <link href="/stylePlusTailwind.css" rel="stylesheet" id="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <%- include('nav.ejs') %>
    <%- include('loginPopup.ejs') %>

    <button class="btn btn-primary mt-4 mx-4" onclick="window.location.href='/'">Return</button>
    <div style="white-space: pre-wrap;" class="p-4 max-w-xl mx-auto">
OOOOOOOOOOOOoooooo

Looks like you found a secret

Here, have a high five
    </div>
    
    <!-- These have to go at the end so they can get access to the html doc -->
    <script src="/script.js"></script>
    <script src="/client.js"></script>
</body>
</html>
